[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
xarray = "*"
toml = "*"
astropy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
netcdf4 = "*"
astroquery = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
twine = "*"
pylint = "*"
yapf = "*"
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
jupyter = "jupyter notebook ${HOME}"
distribute = """
bash -c 'python setup.py sdist
twine upload $(python setup.py --fullname).tar.gz'
"""
